
<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles__main">
        <app-big-card 
            id="1"
            photoCover="https://images.unsplash.com/photo-1608433034711-ef6974daf968?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            cardTitle="Batman"
            cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas ea ad quibusdam? Id quas vel non asperiores accusamus quisquam ad nihil, doloremque excepturi voluptatem eaque esse maiores adipisci perspiciatis praesentium."
        >
        </app-big-card>
    </div>
    <div class="articles__others"> 

        <app-small-card 
            id="2"
            cardTitle="Nova série anunciada no Disney +"
            photoCover="https://images.unsplash.com/photo-1626278664285-f796b9ee7806?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        >
        </app-small-card>

        <app-small-card
            id="3"
            cardTitle="Novo filme em breve"
            photoCover="https://images.unsplash.com/photo-1613276017067-ef618366152a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        >    
        </app-small-card>

        <app-small-card
            id="4"
            cardTitle="Novo filme já está em produção"
            photoCover="https://images.unsplash.com/photo-1534375971785-5c1826f739d8?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        >    
        </app-small-card>

    </div>
</div>
